.body{
  background-color: white;
  margin: 0;
  padding: 0;
}
.h1 {
  font-family: "Helvetica";
  font-size: 30px;
  color: darkGrey;
}
.p1 {
  font-family: "Helvetica";
  font-size: 20px;
  color: darkGrey;
}
.p2 {
  font-family: "Helvetica";
  font-size: 20px;
  color: darkGrey;
}
.p3 {
  font-family: "Helvetica";
  font-size: 20px;
  font-weight: 600;
  color: darkGrey;
}
.p4 {
  font-family: "Helvetica";
  font-size: 20px;
  text-align: center;
  color: darkGrey;
}
.topNavBar {
  background-color: transparent;
  padding: 10px;
  height: 70px;
}
.titleBox {
  height: 50px;
  width: 320px;
  border-radius: 50px;
  color: aliceblue;
  text-align: center;
}
.img {
  width: 250px;
  height: 160px;
  border-radius: 150px;
  background-color: lightGrey;
  margin: 0 auto;
  padding-top: 90px;
}

/* narrow */
@media only screen and (min-width: 200px) and (max-width: 999px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 250px 250px 250px 250px;
    grid-gap: 30px;
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .grid-container > div {
    background-color: lightGrey;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
  }

  .grid-container-text {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 250px 375px;
    grid-gap: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .grid-container-text > div {
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
  }

  .contentBox {
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
  }
}

/* wide */
@media screen and (min-width: 1000px) {
  .grid-container {
    display: grid;
    width: 75%;
    grid-template-columns: auto auto;
    grid-template-rows: 250px 250px;
    grid-gap: 30px;
    padding-top: 35px;
    padding-left: 75px;
    padding-right: 75px;
  }
  .grid-container > div {
    background-color: lightGrey;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
  }

  .grid-container-text {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 150px 250px;
    grid-gap: 30px;
    padding-top: 35px;
    padding-left: 75px;
    padding-right: 100px;
  }
  .grid-container-text > div {
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
  }

  .contentBox {
    width: 75%;
    padding-left: 75px;
    padding-right: 75px;
    text-align: left;
  }
}